    .content {
        background: linear-gradient(#f1cdbb, #eedacf);
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        font-family: Georgia, "Times New Roman", Times, serif;
        max-width: 850px;
        margin: 0 auto;
        text-align: center;
    }

    hr {
        width: 70%;
    }

    h1 {
        color: #000000;
        font-weight: 50px;
        padding: 10px;
    }

    .vegan-diet {
        line-height: 1.5;
        border: 2px dotted rgb(255, 255, 255);
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
        max-width: 750px;
        padding: 10px;
        margin: auto;
    }

    h2 {
        font-weight: lighter;
        font-size: 25px;
        text-decoration: underline;
    }

    img {
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        margin: 10px;
        transition: all 200ms ease-in-out;
    }

    img:hover {
        opacity: 0.8;
    }

    button {
        background: #f1cdbb;
        border: 1px solid #ebb296;
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        color: #000000;
        display: block;
        font-size: 15px;
        margin: 20px auto;
        padding: 10px;
        transition: all 200ms ease-in-out;
    }

    button:hover {
        background: rgb(253, 167, 157);
        cursor: pointer;
    }

    button>a{
        color: black;
        font-weight: bold;
        text-decoration: none;
    }

    .footer {
        font-size: 13px;
        padding: 10px;
    }

    .linkedin {
        color: #000000;
        text-decoration: none;
    }

    .linkedin:hover {
        text-decoration: underline;
        font-weight: bold;
    }